In [1]:
2-33

-31

In [2]:
33*2

66

In [3]:
a=33 # 33 (value - integer type) # 4 bytes
b=37.5
c='hi' # 2 bytes

# Note - Variables are not declared
# Note - Variables are assigned (defined)

In [4]:
a

33

In [5]:
b

37.5

In [6]:
c

'hi'

In [7]:
a=b=c=1 # Multiple Variable

In [8]:
a

1

In [9]:
b

1

In [10]:
c

1

In [11]:
a,b,c=33,37.5,'hi'
#Left #Right

# Operate from Right to Left

In [12]:
a

33

In [13]:
b

37.5

In [14]:
c

'hi'

In [15]:
a=33

In [16]:
del(a)

In [17]:
a

NameError: ignored

In [18]:
a=33
b=37.5

In [19]:
del(a,b)

In [20]:
a

NameError: ignored

In [21]:
b

NameError: ignored

In [22]:
a=33
b=37.5

In [ ]:
a
b

In [23]:
print (a,b)

33 37.5

In [24]:
print(33,37.5,'hello') # int, float, str

33 37.5 hello

In [25]:
print('hello') # by default end='\n'
print('hi')

hello
hi

In [ ]:
print('hello',end='?')
print('hi',end='#')

In [26]:
a=33 # Decimal Number (int)
print (a)

33

In [27]:
a=0x21 # Hexa Decimal Number (int)
print(a)

33

In [ ]:
a=0x21 # 16 Series

# 21 - Ones (1) Tens (2)
#16^0*(Value at Ones)+16^1*(Value at Tens)
#1*1+16*(2)
#1+32
#33
print (a)

In [28]:
a=0x221

# 16^0*1+16^1*2+16^2*2
# 1*1+16*2+256*2
# 1+32+512
# 545
print (a)

545

In [29]:
a=0o21 # Octal
print (a)

17

In [30]:
a=0o21

#8^0*1+8^1*2
#1*1+8*2
#1+16
#17
print (a)

17

In [31]:
a=0b1101
print (a)

13

In [ ]:
a=0b1101

#2^0*1+2^1*0+2^2*1+2^3*1
#1*1+2*0+4*1+8*1
#1+0+4+8
#13
print (a)

In [32]:
type(0b110)

int

In [33]:
type(0x21) # value as input

int

In [34]:
a=33
type(a) # variable as an input

int

In [35]:
a=37.5
type(a)

float

In [36]:
a='hi'
type(a)

str

In [37]:
a=2+3j
print(a)

(2+3j)

In [38]:
type(a)

complex

In [ ]:
a=37.5
type(a) # type(a) is called directly

In [39]:
a=4E4 # 4*10^4
print (a,type(a)) # type(a) is called through print

40000.0 <class 'float'>

In [40]:
a=4E-7 # 4*10^-7
print(a,type(a))

4e-07 <class 'float'>

In [ ]:
a=1.8E308 # Largest Floating Point
print (a)

In [ ]:
a=5E-324 # Smallest Floating Point Number
print (a)

In [41]:
a='hi'
print (a, type(a))

hi <class 'str'>

In [42]:
a='hi'+3 # appending two values
print (a)

TypeError: ignored

In [43]:
# Typecasting - a process of converting
# one datatype to other datatype
# converting int to str
a='hi'+str(3) # 3 is typecasted to '3'
print(a)

hi3

In [44]:
a='23'
print(type(a))

<class 'str'>

In [ ]:
a='hi'+'hello'
print(a)

In [47]:
# Escape Sequences
a='mad\'blocks'
print (a)
# mad'blocks

mad'blocks

In [48]:
a="mad\"blocks"
print (a)

# mad"blocks

mad"blocks

In [49]:
a='mad\\blocks'
print(a)

# mad\blocks

mad\blocks

In [50]:
a='mad \
blocks \
madhu'
print (a)

mad blocks madhu

In [ ]:
a='mad\tblocks'
print (a)

In [ ]:
a='mad\nblocks'
print (a)

In [51]:
s='madblocks'
print (s)
s='madhu'
print (s) # you can update the value of a string

madblocks
madhu

In [52]:
s='madblocks'
s[0]='y' # index value of a string s
print (s)

TypeError: ignored

In [53]:
# String Slicing
# Accessing the substrings
# Removing the characters or accessing the characters

s='madblocks' # 0,1,2,3......len(s)
print(len(s))

9

In [54]:
print(s[3])

b

In [55]:
print (s[0])

m

In [56]:
print (s[2])

d

In [57]:
s='madblocks '
print(s[-1])

In [58]:
s='madblocks'
print(s[-5])

l

In [59]:
s='madblocks'
print(s[1:5]) # start:stop adbl only upto stop-1

adbl

In [60]:
s='madblocks'
print(s[2:4]) # db 2,3

db

In [61]:
s='madblocks'
print(s[:3]) # start value - 0 s[0:3] mad

mad

In [62]:
s='madblocks'
print(s[3:]) # start value - 3, stop value - len(s)

# No Start Value - 0
# No Stop Value - len(str)

blocks

In [63]:
s='madblocks'
print(s[0:]) # start value - 0 stop value - len(s)

madblocks

In [ ]:
s='madblocks'
print(s[:3]) # No Start Value, Stop Value 3

In [64]:
s='madblocks'
print(s[:-3]) # Start Value - 0, Stop Value is -3

madblo

In [ ]:
s='madblocks'
print(s[:-1]) # Start Value - 0, Stop Value is -1

In [65]:
s='madblocks'
print(s[0:5:2]) # Start Index, Stop Index, Step Index
# 0 2 4
#mdl

mdl

In [ ]:
s='madblocks'
print(s[6:18:3]) # Start - 6, Stop - 18, Step - 3
# 6,9,12,15
#c co

In [66]:
s='madblocks'
print(s[1:5:2]) # start - 3 s[3], stop - 15-s[15], step - 3

ab

In [67]:
s='madblocks'
print(s[::3]) # start - 0, stop - till end - step -3

mbc

In [ ]:
s='madblocks'
print(s[::2]) # start - 0 stop - till last step - 2

# mdlcs

In [68]:
s='madblocks'
print(s[::-1]) # reversing the string

skcolbdam

In [71]:
a=(1,2,3)
print(a[::-1])

(3, 2, 1)

In [ ]:
s='ABCDEFGHIJKLMNOPQRSTUVWXYZ'
print(s[::-2])

# ZYXWVUTSRQPONMLKJIHGFEDCBA [::2]
# ZXVTRPNLJHFDB

# [::-1] skcolbdam [::2]
# [::-2] scldm

# [::-3] -> [::-1] -> [::3]

In [72]:
s=[33,37.5,'hello',3+2j]
# int, float, str, complex
# included in []
print(type(s)) # type - built in method which is used to find data tatype
print (s)

<class 'list'>
[33, 37.5, 'hello', (3+2j)]

In [73]:
s=[33,37.5,'hello',3+2j]
print(s[0],s[-1]) # index - 0, negative index -> -1

33 (3+2j)

In [74]:
s=[33,37.5,'hello',3+2j]
print(s[2]) # value at 2nd index

hello

In [75]:
s=[33,37.5,'hello',3+2j]
print(s[0:3]) # s[0], s[1],s[2]

[33, 37.5, 'hello']

In [76]:
s=[33,37.5,'hello',3+2j]
print(s[:2]) # start - 0, stop - 2

[33, 37.5]

In [77]:
s=[1,2,3,4,5,6,7,8,9,10]
print(s[0:7:2])
# 0, 2, 4, 6

[1, 3, 5, 7]

In [78]:
s=[33,37.5,'hello',3+2j]
print(s[::-1])

[(3+2j), 'hello', 37.5, 33]

In [79]:
s=[33,37.5,'hello',3+2j] # s[::2], s[::-2] (s[::-1],s[::2])
print (s[::-3])

# reverse the list -> [::3]
# [3+2j,'hello',37.5,33]  # reverse 
# 3+2j,37.5

[(3+2j), 37.5]

In [80]:
s=[33,37.5,'hello']
s[0]=35
print (s) # lists are mutable

[35, 37.5, 'hello']

In [ ]:
s=[33,37.5,'hello']
a=10 # int value (non-list)
s.append(a) # a is appended to the list s
print (s)

In [ ]:
s=[33,37.5,'hello']
a=[10] # list
print(s+a)

In [82]:
a=[33,37.5]
b=a # address of a is assigned to b (a,b are pointing to same addr)
a[0]=35 # call by reference
print (a)
print (b)

[35, 37.5]
[35, 37.5]

In [83]:
a=[1,2]
print(a*3)

[1, 2, 1, 2, 1, 2]

In [84]:
a='hi'
print(a*3)

hihihi

In [85]:
# Tuple
a=(33,37.5,'hello')
print(type(a))

<class 'tuple'>

In [86]:
a=(33,37.5,'hello')
a[0]=35
print (a) # Immutable like strings

TypeError: ignored

In [87]:
a=(33,37.5,'hello')
print (a)
a=(1,2,3)
print(a)

(33, 37.5, 'hello')
(1, 2, 3)

In [88]:
a=(33,37.5,'hello')
print(a[::-1])

('hello', 37.5, 33)

In [89]:
a={1:'madhu',2:'madhu'}
# keys - 1,2
# values - hello,madhu
print(type(a))

<class 'dict'>

In [90]:
a={1:'hello'}
print(a[1])

hello

In [91]:
a={1:'hello',1:'madhu'}
print (a)

{1: 'madhu'}

In [ ]:
a={'abc':'hello',1:'hello'}
# keys - abc,1
# values - hello, hello
print (a)

In [92]:
a={1:'hello'} # dictionary
a[2]='hi' # a[2]='hi' 2 - key, hi - value
print (a)

#a[new_key]=value

{1: 'hello', 2: 'hi'}

In [93]:
a=False
print(type(a))

<class 'bool'>

In [ ]:
a={1:'hello','abc':'hello'}
print (a) # same values, but keys should be unique

In [94]:
a={'hello','hello'} # values are duplicated
print(type(a))

<class 'set'>

In [95]:
a={'hello','hello'} # values are duplicated
print(a) # In sets, values are not duplicated

{'hello'}

In [96]:
a={'apple','hello'} # unordered
print (a)

# list,tuple,string - ordered type - index access
# set - unordered type

{'hello', 'apple'}

In [97]:
a={'apple','hello'}
a.add(20)
print (a)

{20, 'hello', 'apple'}

In [98]:
a=range(1,6) # start, stop [1,2,3,4,5]
print (a)

range(1, 6)

In [99]:
a=range(1,6) # start, stop [1,2,3,4,5]
print (type(a))

<class 'range'>

In [ ]:
a=range(6) # start - 0 -> [0,1,2,3,4,5]
print (a)

In [ ]:
a='hello'
print(a) # str

In [100]:
# bytes -> encode/decode string values
a='hello'
b=a.encode('utf-8') # b - bytes datatype
print (b)
print (a[0],b[0],type(a),type(b))

b'hello'
h 104 <class 'str'> <class 'bytes'>

In [101]:
a='hello'
b=a.encode('utf-8') # bytes datatype of a
c=b.decode('utf-8') # str
print (a, type(a))
print (b, type(b))
print (c, type(c))

hello <class 'str'>
b'hello' <class 'bytes'>
hello <class 'str'>

In [ ]:
s='mad\\"blocks'
print (s)

In [ ]:
# Arthimetical Operators
a=33
b=37.5
print(a+b)

In [ ]:
# Arithmetical Operators
a=33
b=37.5
print(a-b)

In [ ]:
# Arithmetical Opreators
a=33
b=2
print(a*b)

In [ ]:
# Arithmetical Operators
a=32 # int
b=2 # int
print(a/b) #float

In [ ]:
# Arithmetical Operators
a=32 
b=2
print(a%b) # remainder

In [104]:
a=-9
b=4
print(a%b) # -5%2 -> -5 = (1-6)%2 = 1%2 - 6%2 = 1 - 0 = 1

# %, math.fmod() -> -1 when you have negative numbers you have to do like this

3

In [102]:
6/2

3.0

In [105]:
a=-2000 # (7-2007)%3 = 7%3 - 2007%3 = 1 - 0 = 1
b=3
print(a%b) # -> -2000 = (1-2001)%3 = 1%3 - 2001%3 = 1 - 0 = 1

1

In [106]:
a=-242 # 1-243
b=3 # 243%3 = 0
print(a%b)

1

In [ ]:
# Arithmetical Operator
a=2
b=3 
print(a**b) # Exponent (2**3) = 2^3 = 8

In [ ]:
# Arithmetical Operator
a=2
b=3 # 2/3 = 0.33333 = 0 
print(a//b) # floor division operator

In [ ]:
a=4E7 #(4*10^7)
print (a)
a=4**7 #(4^7)
print (a)

In [ ]:
a=25
b=3
print(a//b) # Quotient, perform rounding near towards zero
# 25/3 = 8.3333 (8, 9)

In [108]:
a=-25
b=3
print(a//b) # -25/3 = -8.333 (-8, -9)
# Note - When you have a negative number, you have to
  # perform rounding away from zero

-9

In [109]:
a=-341
b=3
print(a//b) # (-341/3 = -113.)

-114

In [ ]:
# Comparision Operators
a=33
b=33
c=2
print(a==b) # the values will be compared
print(a==c)

In [ ]:
# Comparision Operator
a=33
b=33
c=2
print(a!=b) # 33!=33 - False 
print(a!=c) # 33!=2 - True

In [ ]:
# Comparision Operator
a=33
b=2
print(a>b) # 33>2

In [ ]:
# Comparision Operator
a=33
b=33
print(a>=b) # True

In [ ]:
# Comparsion Operator
a=33
b=2
print(a<b) # 33<2 -> False

In [ ]:
# Comparision Operator
a=33
b=2
print(a<=b) # 33<=2 -> False

In [ ]:
# Assignment Operators

a=3
b=2
a+=b # a=a+b (3+2)
print (a)

In [ ]:
# Assignment Operators
a=3
b=2
a-=b # a=a-b -> 3-2
print (a)

In [ ]:
# Assignment Operators
a=3
b=2
a*=b # a=a*b -> 3*2
print (a)

In [ ]:
# Assignment Operators
a=3
b=2
a/=b # a=a/b -> 3/2
print (a)

In [ ]:
# Assignment Operators
a=3
b=2
a%=b # -> a=a%b -> 3%2
print (a)

In [ ]:
# Assignment Operators
a=3
b=2
a//=b # -> a=a//b
print (a)

In [ ]:
# Assignment Operators
a=3
b=2
a**=b # a=a**b = 3**2 = 9
print (a)

In [110]:
# Bitwise Operators
a=3 # 0 0 1 1
b=2 # 0 0 1 0
#     0 0 1 0 -> 2
print(a&b)

2

In [111]:
# Bitwise Operators
a=3 # 0 0 1 1
b=2 # 0 0 1 0
#     0 0 1 1 -> 3
print(a|b)

3

In [ ]:
# Bitwise Operators
a=3 # 0 0 1 1
b=2 # 0 0 1 0
#     0 0 0 1 -> 1
print(a^b) # Bitwise XOR

In [ ]:
# Bitwise Operators
a=5
print(~a) # -(a+1) -> -(5+1) = -6

In [ ]:
# Bitwise Operators
a=4
print(a<<1) # Bitwise Left Shift 
# the value 4 should be shifted towards leftside for one time
# answer is you have to double the value

In [ ]:
# Bitwise Operators
a=24
print(a>>1) # Bitwise Right Shift
# the value 24 should be shifted towards rightside for one time
# the answer is half of the given value

In [ ]:
# Logical Operators
a=33
b=5
c=2
print (a>b and a>c) # 33>5 (T) and 33>2 (T)
# T and T - T
# F and T - F
# T and F - F
# F and F - F

In [ ]:
# Logical Operators
a=33
b=5
c=2
print (a>b or b<c) # 33>5 (T) or 5<2 (F)
# T or T - T
# T or F - T
# F or T - T
# F or F - F

In [ ]:
# Logical Operators
a=True
print(not a)

In [112]:
# Membership Operators
# 1. in
a=[23,'hello'] # Sequence Type - List, Tuple, range
b=23
print(b in a) # whether b is a member of a or not
# Member - True (23)
# Non Member - False (33)

True

In [113]:
# Membership Operators
# 2. not in
a=[23,'hello']
b=33
print(b not in a) # b is not a member of a

# Member - False (23)
# Non Member - True (33)

True

In [114]:
a=[1,2,3]
b=5
print(b in not a) # in not -> not in

SyntaxError: ignored

In [115]:
# identity operator
# 1. is
a=10 # int 1000
b=10 # int 1000
print (a is b) # address comes into place
print (a==b) # values comes into place
#Note: When integer values are same, both the variables
# are pointing the same address

True
True

In [116]:
a=10.5 # float 1000
b=10.5 # float 2000
print(a is b) # addresses
print(a==b) # values
#Note: Though floating point values are same, but the variables
# will have seperate addresses

False
True

In [117]:
a='hi'
b='hi'
print(a is b)
print(a==b)

True
True

In [118]:
a=[1,2,3,4,5]
b=a # variables a,b are pointing to the same address
print(a is b) # they should point to the same address
print(a==b) # they should have same values

True
True

In [119]:
a=[1,2,3,4,5]
b=list(a) # a - 1000, b - 2000 values will be copied but not addr
print(a is b)
print(a==b)

False
True

In [120]:
# identity operator
a=20
b=20
print(a is b)
print(a is not b) # address are not same - true

True
False

In [121]:
a=10.5
b=10.5
print(a not is b) # there is no such operator

SyntaxError: ignored

In [123]:
a = 13
rem = a%2 # rem = 1
if(rem == 0): # conditinal statement
  print("Given number is even") #B1
  print("Hello") #B2
print("hello madBlocks") #not a branching statement

hello madBlocks

In [ ]:
#if--else-------
a = int(input("enter a number : "))
if(a%2 == 0): #11%2 = 1
  print("Given number is ",a) #braching statement for if
  print("it is an even number")
else:
  print("Given number is ",a) #braching statement for else
  print("it is an odd number")
  print("hello madBlocks")

In [ ]:
x = 30
y = 20
z = 23
w = 25

if(x > y and x > z and x > w): # 12 > 20(F) and 12 > 23(F) -> F
  print("X is greater")
elif(y > x and y > z and y > w): # 20 > 12(T) and 20 > 23(F) -> F
  print("Y is greater")
elif(z > x and z > y and z > w): # 23 > 12(T) and 23 > 20(T) -> T
  print("Z is greater")
else:
  print("w is greater")

In [ ]:
# 1 2 3 4 5
a = 1
while(a <= 5): # conditional statement 1,2,3,------8,9,10 < 10(F)
  print(a) #BS1 1,2,3-----8,9
  a = a+1  #BS2 a = 2,3------9,10

In [124]:
l = [1,"hello madBlocks",3+4j]
for i in l: #CS
  print(i) #BS

1
hello madBlocks
(3+4j)

In [ ]:
l = [1,"hello madBloacks",3+4j]
for i in range(0,3): #i = 0,1,2-----6,7
  print(l[i]) # l[0],l[1],l[2]-----l[6]

In [ ]:
#1 to 9
for i in range(1,10,5): #i = 1,6,11
  print(i) #1,6

In [125]:
a = 1
while(a <= 10): #a = 1,2,3,4,5,6
  print(a) #BS1
  a = a+1 #BS2
else:
  print("while statement is ended") #BS1 for else

1
2
3
4
5
6
7
8
9
10
while statement is ended

In [126]:
for i in [1,"hello madBlocks",3+4j]:
  print(i)
else:
  print("for statement is ended")

1
hello madBlocks
(3+4j)
for statement is ended

In [ ]:
a = 1
iv = 3.2
for i in range(1,20): #i = 1,2,3,4,5
  print(a)
  a = a+iv #2,2.5,3

In [ ]:
#a = 1,2,3,4,5
a = 1
while(a <= 10): #a = 1,2,3
  print(a) #BS1

  if(a == 7): #BS2 for while
    break #BS1 for if

  a = a+1 #BS3 for while

In [ ]:
a = 0
while(a < 5): #a = 0,0,0
  print(a) #0,0
  #continue
  a = a+1

In [ ]:
a = 1
while(a <= 5): #a = 1,2,3,4,5
  if(a == 3):
    pass
  else:
    print(a) #1,2,4,5
  a = a+1

In [ ]:
#program-1

#str - %s
#int - %d
#float - %f

#printf("%s",t) - c program

t = 23.524
p = "is the given Number"
print("%f %s" %(t,p))

In [ ]:
#program - 2

a = 5
b = 21

print("product of given numbers %d and %d is %d" %(a,b,a*b))

In [ ]:
#program - 3

# "*" - mult - a*b - product
# "**" - power - a**b - a^b - 16^0.5

a = int(input("enter a number : "))
print("Squareroot of given number %d is %f" %(a,a**0.5))

In [ ]:
#program - 4

#area = 0.5*base*height

b = int(input("enter base value : "))
h = int(input("enter height value : "))
print("Area of the triangle with given b = %d and h = %d is %f" %(b,h,0.5*b*h))

In [ ]:
#program - 5

x = 9
y = 20
print("before swapping values of x = %d and y = %d" %(x,y))

x = x+y # x = 20+9 = 29 and y = 20
y = x-y # y = 29-20 = 9 and x = 29
x = x-y # x = 29-9 = 20 and y = 9

print("after swapping values of x = %d and y = %d" %(x,y))

In [ ]:
x = 9
y = 20

print("before swapping x = %d and y = %d" %(x,y))

x,y = y,x

print("after swapping x = %d and y = %d" %(x,y))

In [ ]:
#program - 6 

import random
print(random.randint(1,6))

In [ ]:
#program - 7

x = 512

if(x%2 == 0):
  print("Given %d is an even number" %x)
else:
  print("Given %d is an odd number" %x)

In [ ]:
#program - 8

#leap year - Certurian (100,200,1900,2000) 

y = 2012

if(y%100 == 0): # certurian
  if(y%400 == 0):
    print("Given year %d is a leap year" %y)
  else:
    print("Given year %d is not a leap year" %y)
else: # non - certurian
  if(y%4 == 0): 
    print("Given year %d is a leap year" %y)
  else:
    print("Given year %d is not a leap year" %y)

In [ ]:
#program - 9

a = 72
b = 39
c = 56

if(a > b and a > c):
  print("%d is Largest number among %d,%d,%d" %(a,a,b,c))
elif(b > a and b > c):
  print("%d is Largest number among %d,%d,%d" %(b,a,b,c))
else:
  print("%d is Largest number among %d,%d,%d" %(c,a,b,c))

In [ ]:
#program - 10

x = 2
fact = 2
for i in range(2,x): # i = 2,3,4,5
  if(x%i == 0): # 13%5 = 3 
    fact = fact + 1
if(fact == 2):
  print("Given Number %d is a prime number" %x)
else:
  print("Given Number %d is a not prime number" %x)

In [ ]:
# Files Ouput (writing)

f=open('madhu.txt','w')
# w- permission attribute
# w - write
# file not exist, file will be created
# file exist - file will be opend
f.write('Madhu is a Good Boy') # Write
f.close() # Closes the file

In [ ]:
f=open('mta.txt','r')
# r - permission attribute
# r- read

In [ ]:
f=open('madhu.txt','w')
f.write('MTA Bootcamp is going good')
f.close()

In [ ]:
f=open('madhu.txt','a')
f.write('Madhu is a Good Boy')
f.close()

# a - append

In [ ]:
f=open('madhu.txt','a')
f.write(25)
f.close()

In [ ]:
f=open('madhu.txt','a')
f.write(str(25))
f.close()

In [ ]:
a=['hello\n','hi\n','how are you doing\n']
type(a[0]) # line strings

In [ ]:
f=open('madhu.txt','w')
f.writelines(a) # multiple lines
f.close()

In [ ]:
# Files Input 
f=open('madhu.txt','r') # read
t=f.read() # entire data from file
print(t)
f.close()

In [ ]:
f=open('madhu.txt','r')
t=f.read(2) # read only first 2 characters from file
print(t)
f.close()

In [ ]:
f=open('madhu.txt','r')
t=f.readlines() # will return the lines in a list datatype
print(t)
f.close()

In [ ]:
a=[] # empty list
for i in t: # ['hello\n','hi\n','how are you doing\n']
  a.append(i[:-1])
print(a)

In [ ]:
a=10 # static assignment
a=input('enter a value') # dynamic assignment

In [ ]:
a=input('enter a value') # 23 - integer value
print (a,type(a))

In [ ]:
a=int(input('enter a value'))
print(a,type(a))

In [ ]:
a,b=input('enter values').split(',')
a=int(a)
b=int(b)
# a, b are variables
# input() -str
# split() - breaks the string
# ',' - the string will be splitted into parts based in this char
print(a,type(a))
print(b,type(b))

In [ ]:
a,b=input('enter values').split(',')
a=int(a)
b=float(b)
# a, b are variables
# input() -str
# split() - breaks the string
# ',' - the string will be splitted into parts based in this char
print(a,type(a))
print(b,type(b))

In [ ]:
# printf("%d %d",a,b) - syntax in c

# Old formatting Style
a=23
b=25
print('The values of a,b are %d,%d' % (a,b))

In [ ]:
a=23
print('The value of a is %d' % a)

In [ ]:
# New formatting Style

a=23
print('The value of a is {0}'.format(a))

In [ ]:
a=23
b=25
c='hi'
print('The value of a is {0}, The value of b is {1}, The value of c is {2}'.format(a,b,c))

In [ ]:
# 1. Program to print prime numbers between intervals
# 2 and 100

n=2
while n<100: # 2 to 100
  is_prime=True 
  for i in range(2,n): # range(2,6) -> [2,3,4,5]
    if (n%i==0): # 6%2 -> 0==0 (True)
      is_prime=False
      break
  if (is_prime==True):
    print(n,end=',') #2 3 5
  n+=1 # 6

In [ ]:
# 2. factorial
# 5! = 5*4*3*2*1 = 120
# 0!= 1

n=5
m=n # m = 5
f=1
while(n>0): # 1>0 - True
  f*=n # f=1*5 = 5*4*3*2*1
  n-=1 # 1-1=0
print('The factorial of {0} is {1}'.format(m,f))

In [ ]:
# 3. Print 10 terms of fib series
# 0 1 1 2 3 5 8 13 .....

fib1=0
fib2=1
print(fib1,end='\t')
print(fib2,end='\t')
for i in range(8):
  fib3=fib1+fib2
  print(fib3,end='\t')
  fib1=fib2
  fib2=fib3

In [ ]:
# 4. Armstrong Number
# 123 -> no of digits (3) - > 1^3+2^3+3^3
# 12 -> no of digits (2) - 1^2+2^2
# 1234 -> no of digits (4) - 1^4+2^4+3^4+4^4;

n=int(input('enter a value')) # 123
m=n # 123
l=len(str(m)) # '123' -> 3 
sum=0
while m>0: # 1>0
  dummy=m%10 # 1%10 -> 1
  sum+=dummy**l # 3**3 + 2**3 + 1**3
  m=m//10 # 1//10 -> 1/10 - 0.1 - 0

if (sum==n):
  print('{0} is Armstrong Number'.format(n))
else:
  print('{0} is not an Armstrong Number'.format(n))

In [ ]:
# Program 5 - 100 to 1000
n=100
while n<1000: # 100 to 1000
  m=n
  l=len(str(n))
  sum=0
  while m>0: # calculate the sum
    dummy=m%10 
    sum+=dummy**l
    m=m//10
  if(sum==n):
    print(n,end='\t')
  n+=1

In [ ]:
a={1:'madblocks',2:'madhu'}
b=input('enter id:') # b is str 1 and '1'
print(a[b])

In [ ]:
# Function
a=1
if a==1: # conditional branch
  print ('Hello Madhu')

def madhu(): # unconditional branch
  print ('Hello Madhu')

In [ ]:
# Types of Functions
# 1. Called Function - Function Definition
# 2. Calling Function - Function Call

# Define Called Function
def madhu(): # madhu - function name
  print('Hello Welcome') # function branch

In [ ]:
# Make a Function call
madhu() # Invoking the Function, Calling the Function

In [ ]:
madblocks() # Function Call - first

def madblocks(): # Function is defined - second
  print('Hello')

In [ ]:
# Define a Function
def madblocks():
  print ('Madhu')
  
# Invoke/Call the Function
madblocks()

In [ ]:
# Input of the Function - argument
# Output of the Function - return

# Function with no arg, no return
# Function with arg, no return
# Function with no arg, return
# Function with arg, return

In [ ]:
# Function with no arg, no return
# Program to findout the given number is even or not

def madhu():
  n=int(input('enter  a number'))
  if(n%2==0):
    print('even')
  else:
    print('not an even')

madhu()
# 1. Input is read inside the function
# 2. Output is also printed inside the function

In [ ]:
# Function with arg, no return
def madhu(t): # Formal Arguments - t - 23
  if(t%2==0):
    print ('even')
  else:
    print ('not an even')

n=int(input('enter a number')) # 23
madhu(n) # Actual Arguments - n - 23

# 1. Input is taken outside the function
# 2. Output is printed inside the function

In [ ]:
# Function without arg, with return variable

def madhu():
  n=int(input('Enter a number'))
  if n%2==0: # even
    return (True) # 1
  else: # odd
    return (False) # 0

k=madhu() # function will be called
# The value of k will be altered based on n
if(k==True):
  print('even')
else:
  print('not even')

# 1. No arg, input is read inside the function
# 2. with ret, ouput is printed outside the function

In [ ]:
# with arg, with ret
def madhu(t):
  if(t%2==0):
    return True
  else:
    return False

n=int(input('enter a number: '))
k=madhu(n)
if k==True:
  print ('even')
else:
  print ('odd')

# 1. Input is read outside
# 2. Output is also printed outside

In [ ]:
# Recursive Function
def madhu(t): # madhu function t - -1
  if(t<0): # -1<0 - True
    return # exiting from the function
  print(t) # 5 4 3 2 1 0
  t-=1 # -1
  madhu(t) # madhu(-1)

madhu(5)

In [ ]:
# Types of Arguments
# 1. Positional Arguments
# 2. Keyword Arguments

def madhu(t1,t2,t3='hi'): # 3 Arguments
  print(t1,t2,t3)

madhu('hello','MTA') # 2 Arguments
madhu('hello','MTA','Python') # 3 Arguments
madhu('hello','MTA',t3='Python')

# t1,t2 - Positional Arugment
# t3 - Keyword Arugment

# t1 <- hello, t2 <- MTA

In [ ]:
def madhu():
  "Hi Hello How are you doing \
  Hope you are doing great"

print(madhu.__doc__) # functionObject.__doc__

In [ ]:
def madhu(*args):
  print(args)

madhu('hi','hello') # 2 Arg
madhu(1,2,3,4,5) # 5 Arg

In [ ]:
#1 Program to find sum of N natural Number

def madhu(n): # n is 5
  sum=n # sum - 5
  for i in range(n): # range(5) - [0,1,2,3,4]
    sum+=i # sum=5+0+1+2+3+4
  return sum # 15

n=int(input('Enter a number: ')) # 5
k=madhu(n) # k=madhu(5) # k is 15
print('The sum is {0}'.format(k))

In [ ]:
# 2 - Decimal to binary
def madhu(n):
  k=bin(n)
  return k

n=int(input('Enter a number'))
k=madhu(n)
print('The number is {0}'.format(k))

In [ ]:
# 3 Factors of a given number

def madhu(i,n): # i=4, n=5
  if n%i==0: # 5%4
    return True
  else:
    return False

n=int(input('Enter a number: ')) # 5
for i in range(1,n): # range(1,5) -> [1,2,3,4]
  if(madhu(i,n)==True): # madhu(4,5)
    print(i,end=',') # 1,
print(n) # 5

In [ ]:
# 4 Check given string is palindrome or not

a=input('Enter a value') # madam
if(a[::-1]==a):
  print ('Palindrome String')
else:
  print('Not a palindrome String')

In [ ]:
t=input('Enter a string') # MS WORD
if(t.startswith('MS')):
  print('The string {0} is started with MS'.format(t))
else:
  print('The string {0} is not started with MS'.format(t))

In [ ]:
# Program to find out the number of palindrome elements

def madhu(t): # int - 33
  m=int(str(t)[::-1]) # '33' [::-1] -> '33' -> 33
  if(m==t): # 33==33
    return True
  else:
    return False

k=[23,32,33,55,37] # 1
n=0
for i in k:
  if(madhu(i)==True):
    n+=1 
print('The number of palindrome elements are {0}'.format(n))

In [ ]:
# Program to check prime elements in the list
# prime - no of factors - 2

def madhu(n): # 11
  fact=2
  for i in range(2,n): # [2,11] -> [2,3...10]
    if n%i==0: # Non-Prime Numbers remainder will get Zero
      return False
  return True

k=[25,32,11,5,77]
n=0
for i in k:
  if(madhu(i)==True):
    n+=1
print('The no of prime elements are {0}'.format(n))

In [ ]:
# Program to find out no of Armstrong elements
def madhu(n): # 370
  l=len(str(n)) # 3
  m=n # 370
  sum=0
  while m>0: # 3>0 - True
    dummy=m%10 # 3%10 -> 3
    sum+=dummy**l # 0^3+7^3+3^3 = 343+27 = 370
    m=m//10 # 370//10 -> 37//10 -> 3//10
  if(sum==n): # 370==370
    return True
  else:
    return False
n=0
k=[23,32,157,370,371]
for i in k:
  if(madhu(i)==True):
    n+=1
print('The no of Armstrong elements are {0}'.format(n))

In [ ]:
# The sum of all the elements in the list
k=[23,32,35,56]
sum=0
for i in k:
  sum+=i

f=open('res.txt','w')
f.write(str(sum))
f.close()
print('The sum of all the elements are {0}'.format(sum))

In [ ]:
a=5 # No Syntax Error
'X'=a # Value - Syntax Error

In [ ]:
a=(1,2,3)
a[0]=4

In [ ]:
a='madblocks'
a[0]='s'

In [ ]:
a=3
if(a=3): # == - comparision
  print('hello')

In [ ]:
a=[1,2,3,4]
fo i in a: # for
  print(i)

In [ ]:
a='hello'
b='b'
for not b in a: # Misusing the keyword for b not in a
  print ('Member')

In [ ]:
a=3
if a==3:
  break # misusing the keyword
print ('Hello')

In [ ]:
a=2
print('The value of a is '+str(a) # missing parathesis

In [ ]:
a={1:'hello' 2:'madhu'} # missed comma
print (a)

In [ ]:
a={
    1:'hello' # one comma missed
    'a': {1: 23,3:35} # one bracket missed
print (a)

In [ ]:
madhu() # function call

def madhu(): # function def
  print ('Hello')

In [ ]:
a=2 # 1000
def madhu():
  global a
  a+=3 # a=a+3=2+3 # 1000
  print (a)
madhu()

In [ ]:
a=int(input('enter a number: '))
print(a)

In [ ]:
try:
  a=int(input('enter a value'))
  print (a)
except: # when there is any error in try block
  print ('Please enter integer values only')

In [ ]:
try:
  a=33
  b=int(input('enter a value'))
  print(a/b) # 33/b -> 33/0
except:
  print('Enter non-zero values only')

In [ ]:
# Multiple Errors
try:
  a=int(input('enter a value'))
  print(33/a)
except ValueError:
  print('Enter integer values only')
except ZeroDivisionError:
  print('Enter non-zero values only')

In [ ]:
try:
  a=int(input('Enter a value'))  # 300
  a+=3 # 303
except:
  print('enter integer values only')
finally:
  a=10
  print(a)

# For every try clause there can be multiple except caluses
# For every try caluse there will be only one finally caluse

In [ ]:
try:
  a=int(input('enter a value'))
  if a<=0:
    raise ValueError('Enter Positive Numbers only')
except ValueError as e:
  print (e)

In [ ]:
# Program to read a list through CLA
# python demo.py 23 hello 2+3j
import sys
a=[]
l=len(sys.argv) # l= 4
for i in range(1,l): # range(1,4) - > [1,2,3]
  a.append(sys.argv[i]) # sys.argv[1]

print(a)

In [ ]:
a='madblocks'
# ksdblockma

b=a[:2] # a[0:2] - ma
c=a[2:-2] # a[2:-2] -dbloc
d=a[-2:] # ks

print (d+c+b)

In [ ]:
a='madblocks'
# maks
print(a[:2]+a[-2:])

In [ ]:
a='madhu'
b='MADHU'
print ('Press 1 to Upper')
print ('Press 2 to Lower')
choice=input('Enter Choice: ')
if(choice=='1'):
  print(a.upper())
elif(choice=='2'):
  print(b.lower())

In [ ]:
a='hi'
print(a[::-1]*len(a)) # str

In [ ]:
a='madblocks technologies'
print(a[::-3])

# a[::-1]
# seigolonhcet skcolbdam
# start - 0 index
# stop - until you reach last char
# step - 3

#seigolonhcet skcolbdam
#sgoc cbm

In [ ]:
# Modules

import math # all the methods are to be accessed with . operator
print(math.sin(0)) # sin - method 
print(math.cos(0)) # cos - method

In [ ]:
from math import sin,cos # these functions can be accesed
print(sin(0))
print(cos(0))
print(math.tan(0))

In [ ]:
from math import * # any method from math module
print(sin(0))
print(cos(0))

In [ ]:
import math
a=5.3 # (5, 6)
print(math.ceil(a)) # round-off away from zero

In [ ]:
import math
a=-1.3 # (-1,-2)
print(math.ceil(a)) # round-off towards zero

In [ ]:
import math
a=5.3 # (5,6)
print(math.floor(a)) # round-off towards zero
print(math.ceil(a)) # round-off away from zero

In [ ]:
import math
a=-5.3
print(math.floor(a)) # round-off away from zero

In [ ]:
import math
a=-5.3
print(math.fabs(a))

In [ ]:
import math
a=-10
b=3
print(a%b) # -10%3 -> (2-12)%3 -> 2%3 - 12%3 = 2-0 = 2
print(math.fmod(a,b)) # -> a%b = 10%3 = 1

In [ ]:
import os

os.mkdir('madhu')

In [ ]:
import os
os.getcwd()

In [ ]:
import os
os.chdir('madhu') # it is entering into madhu directory

In [ ]:
import os
os.getcwd()

In [ ]:
f=open('madhu.txt','w')
f.write('Hello')
f.close()

In [ ]:
import os
os.listdir()

In [ ]:
import os.path
os.path.basename('/content/madhu')

In [ ]:
import os
os.chdir('/content')

In [ ]:
import os
os.getcwd()

In [ ]:
import os.path
os.path.basename(os.getcwd())

In [ ]:
import os
os.listdir() # list data type

In [ ]:
import os.path
os.path.dirname('/content/madhu')

In [ ]:
import os.path
print(os.path.isdir('madhu'))

In [ ]:
import os
import os.path

if(os.path.isdir('madhu')): # True
  os.chdir('madhu') # entering into madhu folder
  if(os.path.isfile('madhu.txt')): # True
    f=open('madhu.txt','r')
    print(f.read())
    f.close()

In [ ]:
import random
print(random.random()) # 0 to 1

In [ ]:
import random
print(random.randint(1,10)) # 1,10 - inclusive

In [ ]:
import random
print(random.randrange(1,10,2)) # 10 is not inclusive

In [ ]:
import datetime

print(datetime.datetime.now())

In [ ]:
from datetime import datetime
now=datetime.now()
s=now.strftime('%m/%d/%Y, %H:%M:%S')
print(s)

In [ ]:
# mADhu
s='mADhu' # 2 - uppercase
count=0
m=s.upper() # 'MADHU'
for i in range(len(s)): # mADhu -> range(5) - [0,1,2,3,4]
  if(s[i]==m[i]): # u==U
    count+=1 # 2
if(count>=2):
  print(s.upper())

In [ ]:
a='madhu'
print(sorted(a))

In [ ]:
a='madhu'
if(len(a)>=3):
  print(a[0:3])
else:
  print (a)

In [ ]:
def fib(n): # n - 4
  if n<=1: 
    return n
  else:
    return (fib(n-1)+fib(n-2)) # fib(3)+fib(2)

# fib(0) - 0
# fib(1) - 1
# fib(2) - 1
# fib(3) - 2
for i in range(10): # [0,1,2,3,4...9]
  print(fib(i),end=',') # fib(3)

In [ ]:
# Shareit
# Sender
# Receiver

# Server, Client

# Who is receving the data? - Servers
# Who is making a request? - Client
# Facebook Server - Receving the data
# Facebook App - Client 

# Teacher and a Student
# Student - Receiver - Server
# Teacher - Sender - Client

In [ ]:
# Client Program
import socket

s=socket.socket() # creating a socket object
s.connect(('localhost',12345)) # connect with server
k=input('Enter message to server: ').encode('utf-8') # read data from user
s.send(k) # sending data to server
t=s.recv(1024) # 1024 - maxm size of data, recv from server
print(t)
s.close() # Socket should close at client

# 1. Send
# 2. Recv

In [ ]:
# Server Program
import socket

# Create an instance to access socket
s=socket.socket() # socket() - method, socket - module

# Configure this socket as a server
s.bind(('localhost',12345)) # ip address, port
# localhost - CRRE, port - ECE

# Start listening the requests
s.listen(5) # No of clients

while True:
	c,addr=s.accept() # Client Makes a Request
	#c - client id assigned by server
	#addr - Prof. Subba Rao - address of client
	print('Got Connection from ',addr)
	t=c.recv(1024) # recve from client
	print(t)
	k=input('Enter Message: ').encode('utf-8')
	c.send(k) # send data to client

#1. Recv
#2. Send

In [ ]:
pip install paho-mqtt

In [ ]:
# Publisher Program
import paho.mqtt.client as mqtt
# paho - library
# mqtt - module
# client - method
client=mqtt.Client()
client.connect('broker.hivemq.com',1883)
print('Broker Connected')
client.publish('madblocks','Hi Hello') # topic, msg

In [ ]:
# Subscriber Program
import paho.mqtt.client as mqtt
client=mqtt.Client()
client.connect('broker.hivemq.com',1883)
print('Broker Connected')
client.subscribe('madblocks')

def notification(client,userdata,msg):
  print(msg.payload) # msg - dictionary, payload - key

client.on_message=notification
client.loop_forever()

In [ ]:
{'_id':1,'name':'madhu','msg':'hi'}
{'_id':2,'name':'madhu','msg:hello'}